node_modules
.next
next.config.js
package.json
package-lock.json
next-env.d.ts
yarn.lock

jest.config.js
.babelrc
.lintstagedrc

**/*.test.js
**/*.spec.js
**/*.test.ts
**/*.spec.ts
**/*.test.jsx
**/*.spec.jsx
**/*.test.tsx
**/*.spec.tsx
