node_modules
coverage
.next
next.config.js
package.json
package-lock.json
next-env.d.ts
yarn.lock
babel.config.js

jest.config.js
jest.setup.js
.babelrc
.lintstagedrc
.prettierrc
postcss.config.js
tsconfig.json
tailwind.config.js

**/*.test.js
**/*.spec.js
**/*.test.ts
**/*.spec.ts
**/*.test.jsx
**/*.spec.jsx
**/*.test.tsx
**/*.spec.tsx
